export TORCH_PACKAGE_NAME=pytorch
export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}
export CUDACXX=/usr/local/cuda/bin/nvcc
# Only if you're building without CUDA.
export USE_CUDA=0
# Only if you're building with ccache.
PATH_add /usr/lib/ccache
# Needed for older compilers or conda compilers
export LDFLAGS='-lrt'
# Build with debug symbols.
export DEBUG=1
export BUILD_TEST=0
# export USE_PRECOMPILED_HEADERS=1
